@import "colors.scss";

*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@mixin navbar (){
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@mixin navbar-items (){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius:10px 0 0 0;
    box-shadow: -3px -3px 10px rgba(15,15,15,0.2);
    cursor: pointer;
    transition: 1s;
    @include heading-font;
    &:hover{
        background-color:darken($color2,5%);
    }
    &:active{
        background-color:darken($color2,10%);
    }
}

@mixin section-style (){
    overflow: hidden;
    width:98.85vw;
    height:100vh;
}

@mixin site-style(){
    height:calc(100vh - 6vh);
    width:inherit;
}

@mixin codeblock(){
    @include site-style;
    width:90vw;
    height:80vh;
    background:$color2;
    border-radius: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding:30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &:hover{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    &>div{
        display: flex;
        align-items:center;
        justify-content: flex-start;
        flex-flow: column nowrap;
        width:50%;
        height:80%;
        margin-top:5%;
    }
    .container--example{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .example{
        width:15%;
        height: 40%;
        background: $color1;
    }

    .text--container > p, h1{
        line-height: 25px;
        text-align: left;
        padding:10px;
        width:90%;
        opacity:1;
        transition:1s;
    }
    .text--container > h1{
        display: flex;
        align-self: flex-start;
        margin:0 0 20px 20px;
    }
}

@mixin code--container () {
    background:rgba(40,10,100,.9);
    width:90%;
    height: max-content;
    padding:10px 10px 30px 10px;
    border-radius:10px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
}


header{
    @include section-style();
    background-image:linear-gradient($main, $sub);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column wrap;
        nav{
        @include navbar();
        width:100vw;
        height:60px;
        background:darken($main, 20%);
        img{
            margin-left:2vw;
        }
        ul{
            height:inherit;
            box-shadow: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            @include heading-font;
        }
        li{
            padding:5px 40px 5px 20px;
            color:$color2;
            width:(100% / 2);
            &:hover{
                color:darken($color2, 10%);
            }
            &:active{
                color:ligthen($color2, 5%);  
            }
        }
    }
    .content--wrap{
        display: flex;
        align-items: center;
        height:calc(100vh - 60px);
        width:100%;

        .main--heading{
         width:50vw;
         color:$color2;
         font-size: 4em;
         text-align: left;
         padding:70px;
        }
    }
}

.seletores{
    @include navbar();
    height:100vh;
    flex-flow: column nowrap;
    justify-content: center;
    background-image: linear-gradient(to bottom, #ebebeb, #e4e4e4, #dddddd, #d6d6d6, #cfcfcf);
    position: relative;
    .seletores--nav{
        display: flex;
        justify-content: flex-start;
        align-self: flex-start;
        width:100%;
        height:7vh;
        position: absolute;
        top:1.5px;
    }
    .nav--item{
        @include navbar-items();
        background: $color2;
        height:6vh;
        width:calc(100vw/7);
        text-align: center;
        margin-left:-5px;
        transition: 0.5s;
        &:last-child{
            margin-right:-1;
            border-radius:10px 10px 0 0;
        }
        &:first-child{
            margin-left: 2px;
        }
    }
    .site--seletores{
      @include codeblock();
      padding:30px;
      @at-root .code--container{
        @include code--container();
      }
    }
}
.pseudo--seletores{
    @include navbar();
    @include section-style();
    flex-flow: column nowrap;
    justify-content: center;
    background-image: linear-gradient(to bottom, #ebebeb, #e4e4e4, #dddddd, #d6d6d6, #cfcfcf);
    position: relative;
    .pseudo--nav{
        display: flex;
        justify-content: flex-start;
        align-self: flex-start;
        width:100%;
        height:7vh;
        position: absolute;
        top:0px;
    }
    .nav--item{
        @include navbar-items();
        background: $color2;
        height:6vh;
        width:calc(100vw/7);
        text-align: center;
        margin-left:-5px;
        &:last-child{
            margin-right:-1;
            border-radius:10px 10px 0 0;
        }
        &:first-child{
            margin-left: 2px;
        }
    }
    .site--pseudo{
        @include codeblock();

    }
}
